* {
  margin: 0;
}

body {
  overflow: hidden;
}

main {
  margin-left: 232px; /*sidebar-width*/
  margin-top: 95px; /*header-height*/
  height: calc(100vh - 95px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  font-size: 21px;
  background-color: var(--bg-color);
  overflow: hidden;
}

h1 {
  font-size: 47px;
  font-weight: 700;
  margin-bottom: 40px;
}
.d-none {
  display: none;
}
input::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

/* ===== Form Selectors =====*/

form {
  display: flex;
  height: 600px;
}

form > div {
  display: flex;
  flex-direction: column;
  gap: 14px;
  position: relative;
}

form label {
  font-size: 21px;
  color: rgba(0, 0, 0, 1);
}

form input[type='text'],
form input[type='date'] {
  height: 51px;
}

form textarea {
  height: 119px;
  resize: none;
}

form input,
form textarea {
  padding: 13px 21px;
  border-radius: 10px;
  outline: unset;
  border: 1px solid var(--fntcolor);
  background-color: white;
  font-size: 21px;
}

input[type='date']:invalid::-webkit-datetime-edit {
  color: var var(--fntcolor);
  font-size: 21px;
}

input::placeholder,
textarea::placeholder {
  font-size: 21px;
  color: var(--fntcolor);
}

/* ===== Form Classes & ID´s ===== */

.seperator {
  margin: 0px 25px;
  border-left: 1px solid rgba(209, 209, 209, 1);
  height: 501px;
}

.input-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.input-with-icons {
  position: relative;
}

.input-with-icons > input {
  width: 100%;
  padding-right: 80px;
}

.input-with-icons > div {
  position: absolute;
  right: 14px;
  top: 14px;
}

.input-icon-box {
  display: flex;
  align-items: center;
}

.input-icon-box > div {
  border-left: 1px solid black;
  height: 25px;
  margin: 0 8px;
}

.label {
  font-size: 21px;
  color: rgba(0, 0, 0, 1);
}

.placeholder {
  font-size: 21px;
  color: var(--fntcolor);
}

.input {
  height: 51px;
  padding: 13px 21px;
  border-radius: 10px;
  outline: unset;
  border: 1px solid var(--fntcolor);
  background-color: white;
}

.form-right-box {
  justify-content: space-between;
}

.form-right-top-box {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.button-box {
  display: flex;
  justify-content: end;
  gap: 25px;
}

.button-secondary-with-icon:hover img {
  filter: invert(47%) sepia(28%) saturate(5405%) hue-rotate(164deg) brightness(101%) contrast(101%);
}

.button-secondary-with-icon:active img {
  filter: none;
}

#prio-box {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

#prio-box div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 18px 10px;
  height: 51px;
  width: 136px;
  background-color: white;
  border-radius: 10px;
  box-shadow: var(--drop-shadow);
  cursor: pointer;
}

#assignedContactsList {
  display: flex;
  flex-direction: column;
}

#category,
#assignedContactsList {
  display: flex;
  /* flex-direction: column; */
  min-height: 51px;
  padding: 13px 21px;
  border-radius: 10px;
  outline: unset;
  border: 1px solid var(--fntcolor);
  background-color: white;
}

#category > div {
  cursor: pointer;
}

#category-input {
  position: relative;
  border: unset;
}

#category div,
#assignedContactsList > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
#category,
#assignedContactsList {
  display: flex;
  /* flex-direction: column; */
  min-height: 51px;
  padding: 13px 21px;
  border-radius: 10px;
  outline: unset;
  border: 1px solid var(--fntcolor);
  background-color: white;
}

#edit-category > div {
  cursor: pointer;
}

#edit-category-input {
  position: relative;
  border: unset;
}

#edit-category div,
#editAssignedContactsList > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
#edit-category,
#editAssignedContactsList {
  display: flex;
  /* flex-direction: column; */
  min-height: 51px;
  padding: 13px 21px;
  border-radius: 10px;
  outline: unset;
  border: 1px solid var(--fntcolor);
  background-color: white;
}
#subtask-box {
  display: flex;
  flex-direction: column;
}

#subtask-box > label {
  display: flex;
  gap: 20px;
}

.add-category-img-box {
  display: flex;
  align-items: center;
  gap: 8px !important;
  position: absolute;
  right: 14px;
  top: 47px;
}

.add-category-img-box > div {
  border-left: 1px solid black;
  height: 25px;
}

.add-category-img-box:hover {
  background-color: unset !important;
}

#assignedContactsList div {
  width: 100%;
  display: flex;
  cursor: pointer;
}

.open-arrow {
  width: 16px !important;
  height: 16px !important;
  position: absolute;
  right: 10px;
}

.active {
  border: 1px solid black;
}

.active-color {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.subtask-img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

#color-picker-box {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.color-picker-color {
  width: 20px !important;
  height: 20px !important;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
}

.error-msg-task {
  color: red;
  font-size: 12px;
}

/* ===== Confirm Modal =====*/

.confirm-modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  bottom: -100%;
  transform: translate(-50% -50%);
  padding: 20px;
  font-size: 21px;
  color: white;
  background-color: var(--primcolor);
  border-radius: 20px;
  box-shadow: var(--drop-shadow);
  transition: 225ms ease-in-out;
}

.confirm-animation {
  bottom: 15%;
}

/* Prio Colors */

.urgent {
  background-color: rgb(255, 61, 0) !important;
  color: white !important;
}

.medium {
  background-color: rgb(255, 168, 0) !important;
  color: white !important;
}

.low {
  background-color: rgb(122, 226, 41) !important;
  color: white !important;
}

.button-secondary-with-icon {
  cursor: pointer;
  display: flex;
  gap: 10px;
  width: 136px;
  height: 55px;
  padding: 18px 10px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  border: none;
  outline: 1px solid var(--primcolor);
  color: var(--primcolor);
  font-size: 21px;
  background: none;
  transition: ease-in-out 100ms;
}
.button-secondary-with-icon:hover {
  color: var(--acccolor);
  outline: 2px solid var(--acccolor);
  box-shadow: var(--shadow-btn);
}
.button-with-icon {
  background-color: var(--primcolor);
  color: white;
  font-size: 21px;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  height: 55px;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border: unset;
  border-radius: 10px;
  transition: all ease-in-out 100ms;
}

.button-with-icon:hover {
  background-color: var(--acccolor);
  box-shadow: var(--shadow-btn);
}
#category option {
  color: #000;
}

#category .IT {
  background-color: #008ddc;
}
#category .Design {
  background-color: #ff7827;
}
#category .Sales {
  background-color: #a900f8;
}
#category .Backoffice {
  background-color: #502787;
}
#category .Media {
  background-color: #00d345;
}
#category .Marketing {
  background-color: #bb051d;
}

#edit-category .IT {
  background-color: #008ddc;
}
#edit-category .Design {
  background-color: #ff7827;
}
#edit-category .Sales {
  background-color: #a900f8;
}
#edit-category .Backoffice {
  background-color: #502787;
}
#edit-category .Media {
  background-color: #00d345;
}
#edit-category .Marketing {
  background-color: #bb051d;
}
.dropdown {
  display: none;
  min-height: 51px;
  padding: 13px 21px;
  border-radius: 10px;
  outline: unset;
  border: 1px solid rgb(205, 205, 205);
  background-color: white;
  cursor: pointer;
  position: relative;
}
#dropdownContentContacts {
  display: none;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
#dropdownContentEditContacts {
  display: none;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  border: 1px solid rgb(205, 205, 205);
  border-radius: 10px;
  background-color: white;
  width: 100%;
  z-index: 1;
}
.dropdown-content-contacts {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  border: 1px solid rgb(205, 205, 205);
  border-radius: 10px;
  background-color: white;
  width: 100%;
  height: 260px !important;
  z-index: 1;
  overflow: scroll;
}
.dropdown-content div {
  padding: 8px 16px;
  display: none;
  align-items: center;
  cursor: pointer;
  justify-content: flex-start !important; /* Hinzugefügt */
}
.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  /* margin-right: 8px;  <-- Dies wurde entfernt */
  display: inline-block; /* Hinzugefügt */
  margin-left: 10px;
}

.contact-avatar-assigned {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 50%;
  height: 42px !important;
  width: 42px !important;
  font-size: 12px;
  color: white;
  border: 1px solid white;
  margin-right: 20px;
}
.contact-card-assigned {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 95%;
  border-radius: 10px;
  cursor: pointer !important;
  padding: 5px 15px;
}
.assigned-contact-choice label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
}
.assigned-checkbox {
  cursor: pointer;
}
.subtasks-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cancel-btn {
  display: none;
}

@media (max-width: 1200px) {
  main {
    overflow-y: scroll;
  }

  .add-task-form {
    flex-direction: column;
  }

  .seperator {
    margin-bottom: 8px;
  }

  .form-right-bottom-box {
    padding-bottom: 50px;
  }

  .button-box {
    justify-content: center;
    margin-bottom: 30px !important;
  }
}

@media (max-width: 850px) {
  main {
    margin-left: 0;
    height: 80vh;
    justify-content: flex-start;
  }

  section {
    width: 90%;
  }

  /* .button-box {
    display: none;
  } */

  #mobileTaskBtn {
    display: flex !important;
    margin-right: 16px;
  }

  section h1 {
    padding-top: 20px;
    margin-bottom: 20px;
  }
  .header-overline {
    display: none !important;
  }
  /* section h1::before {
    content: 'Kanban Project Management Tool';
    position: absolute;
    font-size: 16px;
    font-weight: 400;
    top: 30px;

  } */

  .right-frame {
    display: none;
  }
}

@media (max-width: 500px) {
  #prio-box {
    flex-direction: column;
    align-items: center;
  }

  #prio-box div {
    width: 100%;
  }
}