:root {
    /* colors */
    --primcolor: #2A3647;
    --seccolor: #091931;
    --acccolor: #29ABE2;

    --bg-color: #f6f7f8;

    /* font colors*/
    --fntcolor: #CDCDCD;

    /*font size*/
    --fntsize12: 0.75rem; /*base:16px, 12px*/
    --fntsizebase: 1rem; /*base:16px, 16px*/
    --fntsize20: 1.25rem; /*base:16px, 20px*/
    --fntsize21: 1.3125rem; /*base:16px, 21px*/
    --fntsize27: 1.6875rem; /*base:16px, 27px*/
    --fntsize47: 2.9375rem; /*base:16px, 47px*/
    --fntsize61: 3.8125rem; /*base:16px, 61px*/

    /* transition */
    --transtime: 500ms;

    /* shadow for box */
    --drop-shadow: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.1));
    --shadow-btm: drop-shadow(0px 5px 2px rgba(0, 0, 0, 0.1));
}


/* common styles */
html{
    font-size: 16px;
}
h1 {
    margin: 0;
    font-size: var(--fntsize61);
    font-weight: 700;
    line-height: 73px;
    letter-spacing: 0em;
    text-align: center;
}

.display-none {
    display: none !important;
}

.active {
    background-color: var(--seccolor) !important;
}

input {
    font-size: var(--fntsize20);
    font-weight: 400;
    text-align: left;
    box-sizing: border-box;
    height: 50px;
    width: 422px;
    padding: 13px 21px;
    background-repeat: no-repeat;
    background-position: calc(100% - 21px);
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}

input[type="checkbox"] {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    border: 1px solid #000000;
    background: #F9F9F9;
}

input:hover {
    cursor: pointer;
}

/* button */

.but-dark {
    background-color: var(--seccolor);
    border: 0;
    border-radius: 8px;
    color: white;
    font-size: var(--fntsize21);
    /* font-weight: 700; */
    height: 51px;
    padding: 0 16px;
    cursor: pointer;
}

.but-dark:hover {
    background-color: var(--acccolor);
    filter: var(--shadow-btm);
    transition: all var(--transtime) ease-in-out;
}

.but-light {
    background-color: white;
    border: 2px solid var(--seccolor);
    border-radius: 8px;
    color: var(--seccolor);
    font-size: var(--fntsize21);
    /* font-weight: 700; */
    height: 51px;
    padding: 0 16px;
    cursor: pointer;
}

.but-light:hover {
    border-color: var(--acccolor);
    color: var(--acccolor);
    filter: var(--shadow-btm);
    transition: all var(--transtime) ease-in-out;
}


/* css for basic framework */
body {
    display: flex;
    margin: 0;
    font-size: var(--fntsizebase);
    font-family: 'Inter';
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primcolor);
    box-sizing: border-box;
    width: 232px;
    height: 100vh;
    padding: 66px 0px;
}

main {
    background-color: var(--bg-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 36px 20px 116px;
    box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.10);
    z-index: 3;
}


#content {
    display: flex;
    position: relative;
    height: calc(100vh - 90px);
}