body {
    overflow: hidden;
}

main {
    animation-name: bgOpacity;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    width: 100%;
}

.logo {
    position: absolute;
    height: 120px;
    left: 60px;
    top: 60px;
    z-index: 2;
}

header {
    display: flex;
    justify-content: end;
    margin: 60px 60px 120px 60px;
    height: 50px;
}

header div {
    display: flex;
    gap: 32px;
}

.arrow-back {
    position: absolute;
    position: absolute;
    top: 45px;
    left: 30px;
}

.arrow-back:hover {
    cursor: pointer;
}

a {
    color: var(--acccolor);
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-inline: auto;
    margin-top: 52px;
    filter: var(--drop-shadow);
    padding-inline: 80px;
    padding-top: 30px;
    gap: 24px;
    border-radius: 30px;
    height: auto;
}

#content p {
    text-align: center;
}

#underline {
    height: 2px;
    width: 25%;
    background-color: var(--acccolor);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
    margin-bottom: 26px;
}

form span {
    margin-top: -26px;
    margin-bottom: -26px;
    padding-left: 8px;
    height: 26px;
    width: 100%;
    color: red;
}

#name {
    background-image: url("../img/icons/user_line.svg");
}

#email {
    background-image: url("../img/icons/mail.svg");
}

#pwd,
#pwdCon {
    background-image: url("../img/icons/lock.svg");
}

#pwd:focus {
    background-image: url("../img/icons/visibility_off.svg");
    background-size: 28px;
}

.pwd-ext {
    display: flex;
    align-items: center;
    gap: 16px;
}

.pwd-ext a {
    margin-left: 8px;
}

#saveLogin {
    width: 25px;
}

.but-area {
    display: flex;
    gap: 24px;
}

.border-wrg {
    border-color: red;
}

/*  hidden Classes */

.ovlyMsg {
    animation: slideUp 2s linear 0s 1 normal;
    position: absolute;
    bottom: -100vh;
    height: 100vh;
    width: 100%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100vh;
    background-color: rgba(0, 0, 0, 0);
    z-index: -1;
    overflow: hidden;
}

.ovlyMsg div {
    border-radius: 20px;
    background-color: var(--seccolor);
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
    padding: 25px 18px;
    display: flex;
    align-items: center;
    gap: 13px;
}

/*  animations */

@keyframes zoomOut {

    0% {
        height: 50vh;
        width: 50vw;
        left: 25vw;
        top: 25vh;
    }

    50% {
        height: 50vh;
        width: 50vw;
        left: 25vw;
        top: 25vh;
    }

    100% {
        height: 120px;
        width: 98px;
        left: 60px;
        top: 60px;
    }
}

@keyframes zoomOutW {

    0% {
        opacity: 1;
        z-index: 3;
        height: 50vh;
        width: 50vw;
        left: 25vw;
        top: 25vh;
    }

    40% {
        opacity: 1;
    }

    50% {
        opacity: 0;
        z-index: 3;
        height: 50vh;
        width: 50vw;
        left: 25vw;
        top: 25vh;
    }

    100% {
        z-index: -1;
        height: 120px;
        width: 98px;
        left: 60px;
        top: 60px;
    }
}

@keyframes bgOpacity {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideUp {
    0% {
        margin-top: 100vh;
        bottom: -100vh;
        z-index: 3;
        background-color: rgba(0, 0, 0, 0);
    }

    15% {
        bottom: 0vh;
        background-color: rgba(0, 0, 0, 0.3);
    }

    100% {
        bottom: 0vh;
        background-color: rgba(0, 0, 0, 0.3);
    }
}

/*  responsive design */
@media (max-width: 700px) {
    #content {
        max-width: 70vw;
    }

    body {
        animation-name: bgColor;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }

    .logoW {
        position: absolute;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        height: 120px;
        left: 60px;
        top: 60px;
    }

    @keyframes bgColor {
        0% {
            background-color: var(--seccolor);
        }

        50% {
            background-color: var(--seccolor);
        }

        100% {
            background-color: var(--bg-color);
        }
    }
}

@media (max-width: 600px) {
    .logo, .logoW{
        height: 80px;
        left: 30px;
        top: 30px;
    }

    header {
        margin-inline: 8px;
        margin-bottom: 30px;
    }

    #content {
        margin-inline: 8px;
    }

    @keyframes zoomOut {

        0% {
            height: 50vh;
            width: 50vw;
            left: 25vw;
            top: 25vh;
        }

        50% {
            height: 50vh;
            width: 50vw;
            left: 25vw;
            top: 25vh;
        }

        100% {
            height: 80px;
            width: 65.42px;
            left: 30px;
            top: 30px;
        }
    }
}

@media (max-width: 470px) {
    main {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
    }

    header {
        position: absolute;
        bottom: 0px;
        left: 0;
        right: 0;
        margin-bottom: 25px;
        align-items: center;
        justify-content: center;
    }

    header p {
        width: auto;
    }

    #content {
        margin-top: 14vh;
        margin-inline: 8px;
    }

    input {
        width: 80vw;
    }

    p {
        width: 80vw;
    }
    .but-area{
        display: grid;
        gap: 15px;
    }

    @media (max-height: 800px)  {
        h1{
            font-size: var(--fntsize47);
        }
        #content{
            margin-top: 18vh;
            max-height: 400px;
            gap: 16px;
        }
        form {
            gap: 16px;
        }
        input {
            height: 40px;
        }
    }
}

@media (max-width: 370px) {
    .arrow-back {
        top: 8px;
        left: 8px;
    }
}
