* {
  font-family: inter;
  box-sizing: border-box;
}

:root {
  /* colors */
  --primcolor: #2a3647;
  --seccolor: #091931;
  --acccolor: #29abe2;

  --bg-color: #f6f7f8;

  /* font colors*/
  --fntcolor: #cdcdcd;

  /*font size*/
  --fntsize12: 0.75rem; /*base:16px, 12px*/
  --fntsizebase: 1rem; /*base:16px, 16px*/
  --fntsize20: 1.25rem; /*base:16px, 20px*/
  --fntsize21: 1.3125rem; /*base:16px, 21px*/
  --fntsize27: 1.6875rem; /*base:16px, 27px*/
  --fntsize47: 2.9375rem; /*base:16px, 47px*/
  --fntsize61: 3.8125rem; /*base:16px, 61px*/

  /* transition */
  --transtime: 500ms;

  /* shadow for box */
  --drop-shadow: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.1));
  --shadow-btn: drop-shadow(0px 5px 2px rgba(0, 0, 0, 0.1));
}

.d-none {
  display: none !important;
}

*::-webkit-scrollbar {
  width: 8px;
}
.slide-up {
  -webkit-animation: slide-up 1.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-up 1.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-up {
  0% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }

  100% {
    -webkit-transform: translateY(-250%);
    transform: translateY(-250%);
  }
}

@keyframes slide-up {
  0% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }

  100% {
    -webkit-transform: translateY(-250%);
    transform: translateY(-250%);
  }
}

.slide-down {
  -webkit-animation: slide-down 1.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-down 1.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-down {
  0% {
    -webkit-transform: translateY(-250%);
    transform: translateY(-250%);
  }

  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@keyframes slide-down {
  0% {
    -webkit-transform: translateY(-250%);
    transform: translateY(-250%);
  }

  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

.contact-created-message {
  position: absolute;
  bottom: -75px;
  left: auto;
  right: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  color: white;
  font-size: 21px;
  width: 326px;
  height: 74px;
  background: #2a3647;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  z-index: 999;
}
