<h1>Add Task</h1>
<img onclick="addTaskModal()" class="cancel-btn" src="../assets/img/x-icon.svg" alt="" />
<form onsubmit="addTask(); return false;" onreset="" class="add-task-form add-form-overlay">
  <div>
    <div class="input-box">
      <label for="title">Title</label>
      <input placeholder="Enter a title" name="title" required id="title" type="text" />
    </div>

    <div class="input-box">
      <label for="description">Description</label>
      <textarea placeholder="Enter a Description" id="description" cols="30" rows="10"></textarea>
    </div>

    <div id="category-box" class="input-box">
      <span class="label">Category</span>
      <div class="dropdown" onclick="toggleDropdown()" id="category">
        <span id="selectedCategory">Select task category</span>
        <div class="dropdown-content" id="dropdownContent"></div>
        <img class="open-arrow" src="../assets/img/open-select-arrow.svg" alt="arrow-down" />
      </div>
    </div>

    <div id="add-task-assigned-to-box" class="input-box">
      <span class="label">Assigned to</span>
      <div class="dropdown" onclick="toggleDropdownContacts()" id="assignedContactsList">
        <span id="selectedCategory">Select contacts to assign</span>
        <div class="dropdown-content-contacts" id="dropdownContentContacts"></div>
        <img class="open-arrow" src="../assets/img/open-select-arrow.svg" alt="arrow-down" />
      </div>
    </div>
  </div>

  <div class="seperator"></div>

  <div class="form-right-box">
    <div class="form-right-top-box">
      <div class="input-box date-box">
        <label for="due-date">Due date</label>
        <input required onclick="setMinDate(event)" type="date" name="due-date" id="due-date" />
      </div>

      <div id="prio-box-wrapper" class="input-box">
        <span>Prio</span>
        <div id="prio-box">
          <div id="urgent-prio-box" onclick="setPrio('urgent')">
            <span>Urgent</span>
            <img src="../assets/img/urgent-prio-icon-small.svg" alt="high-prio" />
            <img class="white-icon d-none" src="../assets/img/urgent-prio-white-icon-small.svg" alt="high-prio" />
          </div>
          <div id="medium-prio-box" onclick="setPrio('medium')">
            <span>Medium</span>
            <img src="../assets/img/medium-prio-icon-small.svg" alt="medium-prio" />
            <img class="white-icon d-none" src="../assets/img/medium-prio-white-icon-small.svg" alt="medium-prio" />
          </div>
          <div id="low-prio-box" onclick="setPrio('low')">
            <span>Low</span>
            <img src="../assets/img/low-prio-icon-small.svg" alt="low-prio" />
            <img class="white-icon d-none" src="../assets/img/low-prio-white-icon-small.svg" alt="low-prio" />
          </div>
        </div>
        <div id="errorTagPrio" class="error-msg-task d-none">Please select a priority</div>
      </div>

      <div id="subtask-box-wrapper" class="input-box">
        <label for="subtask-input">Subtasks</label>
        <div class="input-with-icons">
          <input placeholder="Add new subtask" id="subtask-input" type="text" name="subtask-input" />
          <div class="input-icon-box">
            <img onclick="clearInput('subtask-input')" class="subtask-img" src="../assets/img/cancel-icon.svg" alt="" />
            <div class="seperator-small"></div>
            <img onclick="addSubtask('subtask-box')" class="subtask-img" src="../assets/img/checkmark-icon-black.svg" alt="" />
          </div>
        </div>
      </div>
      <div id="subtask-box"></div>
    </div>
    <div class="form-right-bottom-box">
      <div class="button-box">
        <button onclick="clearAll()" class="button-secondary-with-icon" type="reset">Clear <img src="../assets/img/cancel-icon.svg" alt="" /></button>
        <button id="submit-button" class="button-with-icon" type="submit">
          Create Task
          <img src="../assets/img/checkmark-icon.svg" alt="" />
        </button>
      </div>
    </div>
  </div>
  <input type="submit" id="submit-form" class="d-none" />
</form>
