<img class="logo" src="../assets/img/join-logo-summary.png" alt="Logo of Join" />

<!-- Menu -->
<div class="nav-menu">
  <div class="sidebar-link-wrapper">
    <a id="sidebar-summary" href="../../pages/summary.html">
      <img id="sidebar-object-summary" src="../assets/img/summary-icon.png" />
      <span>Summary</span>
    </a>
  </div>

  <div class="sidebar-link-wrapper">
    <a id="sidebar-board" href="../../pages/board.html">
      <img id="sidebar-object-board" src="../assets/img/board-icon.png" />
      <span>Board</span>
    </a>
  </div>

  <div class="sidebar-link-wrapper">
    <a id="sidebar-add_Task" href="../../pages/add_Task.html">
      <img id="sidebar-object-add_Task" src="../assets/img/add-task-icon.png" />
      <span>Add Task</span>
    </a>
  </div>

  <div class="sidebar-link-wrapper">
    <a id="sidebar-contacts" href="../../pages/contacts.html">
      <img id="sidebar-object-contacts" src="../assets/img/contact-icon.png" />
      <span>Contacts</span>
    </a>
  </div>
</div>

<!-- Legal -->
<div>
  <a class="legal-link" id="sidebar-legal" href="../../pages/legalNotice.html">
    <img id="sidebar-object-legal" src="../assets/img/info.svg" />
    <span>Legal notice</span>
  </a>
  <a class="legal-link" id="sidebar-legal" href="../../pages/privacyPolicy.html">
    <img id="sidebar-object-legal" src="../assets/img/info.svg" />
    <span>Privacy Policy</span>
  </a>
</div>